/* =================================
  banner-section
==================================== */
.banner-sec {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.banner-sec .banner-left {
	display: flex;
	flex-direction: column;
	flex-basis: 0;
	flex-grow: 1;
	background: url(../images/curalife-pic.jpg) no-repeat;
	background-size: cover;
	text-align: center;
}

.banner-sec .banner-left span:first-of-type {
	position: relative;
	top: 4em;
	left: -15px;
	font-size: 65px;
	line-height: 80px;
	font-family: 'Lato', sans-serif;
	font-weight: 600;
	color: #fff;
	text-transform: uppercase;
}
.banner-sec .banner-left span:nth-of-type(2) {
	position: relative;
	top: 4.5em;
	font-size: 65px;
	line-height: 85px;
	font-family: 'Lato', sans-serif;
	font-weight: 600;
	color: #fff;
	text-transform: uppercase;
	margin-top: 30px;
}

.banner-sec .banner-right {
	background: #f2f2f2;
	padding: 40px 40px 0;
	flex-basis: 0;
	flex-grow: 1;
}
.banner-sec .banner-right h2 {
	font-size: 35px;
	line-height: 45px;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	color: #042c4b;
}

.banner-sec .banner-right h3 {
	font-size: 35px;
	line-height: 45px;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	color: #042c4b;
	padding-top: 30px;
}
.banner-sec .banner-right p {
	font-size: 20px;
	line-height: 31px;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	color: #000;
	padding-top: 21px;
	max-width: 650px;
}

.banner-sec .social-icon {
	width: 100%;
	padding: 30px 0;
}
.banner-sec .social-icon ul {
	padding: 0;
	margin: 0;
}
.banner-sec .social-icon li {
	display: inline-block;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	text-align: center;
	padding: 9px 0;
	margin: 0 5px;
}
.banner-sec .email {
	background: #3cbab3;
}
.banner-sec .facebook {
	background: #4867aa;
}
.banner-sec .twiiter {
	background: #00aced;
}

.banner-sec .social-icon i {
	color: #fff;
	font-size: 20px;
}

.banner-sec .email-field {
	width: 100%;
}

.banner-sec .email-field input {
	width: 100%;
	max-width: 500px;
	height: 52px;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 0 10px;
	font-size: 16px;
	line-height: 26px;
	font-weight: 400;
	display: block;
	background: transparent;
	outline: 0;
}
.banner-sec .email-field textarea {
	margin: 30px 0;
	width: 100%;
	max-width: 500px;
	height: 140px;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 15px;
	font-size: 16px;
	line-height: 26px;
	font-weight: 400;
	display: block;
	background: transparent;
	outline: 0;
}
.banner-sec .email-field button {
	background: #00aaff;
	color: #fff;
	line-height: 17px;
	padding: 13px 40px;
	text-transform: capitalize;
	font-size: 15px;
	border: none;
	outline: none;
}

.banner-sec .share-the-link {
	width: 100%;
	padding: 49px 0 30px 0;
}

.banner-sec .share-the-link aside {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 1px solid #ccc;
	width: 100%;
	max-width: 500px;
	height: 52px;
	border-radius: 4px;
	margin: 26px 0;
}

.banner-sec .share-the-link aside input,
.banner-sec .share-the-link .link-text {
	width: 70%;
	height: 45px;
	border: 0;
	border-radius: 4px;
	padding: 0 10px;
	font-size: 16px;
	font-weight: 400;
	display: block;
	background: transparent;
	outline: 0;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	line-height: 45px;
	cursor: copy;
}

.banner-sec .share-the-link aside button {
	background: #2dbe60;
	color: #fff;
	line-height: 1;
	padding: 13px 10px;
	text-transform: capitalize;
	display: inline-block;
	width: 150px;
	text-align: center;
	margin-right: 5px;
	border: none;
	outline: none;
	font-size: 14px;
	z-index: 30;
	position: relative;
}

.banner-sec .share-the-link h4 {
	font-size: 18px;
	line-height: 26px;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	color: #042c4b;
}
.banner-sec .share-the-link .raf-tooltip {
	background: #000;
	display: inline-block;
	color: #fff;
	padding: 10px 15px;
	transition: 300ms all ease-in-out;
	top: 5px;
	position: absolute;
	overflow: hidden;
	right: 5px;
	height: 40px;
	width: 149px;
	text-align: center;
	border-radius: 2px;
}
.banner-sec .share-the-link .raf-tooltip--visible {
	top: 55px;
}
/* =================================
work-sec
==================================== */
.work-sec {
	width: 100%;
	text-align: center;
	padding: 30px 0;
	display: inline-block;
}
.work-sec h2 {
	font-size: 35px;
	line-height: 45px;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	color: #042c4b;
}
.wrapo {
	position: relative;
	margin-bottom: 100px;
}
.raf-progress {
	width: 1300px;
	position: relative;
	left: -100px;
	overflow: hidden;
	height: 7px;
	margin-bottom: 20px;
	background-color: #f5f5f5;
	border-radius: 4px;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
.raf-progress-wrapper {
	position: relative;
}
.raf-progress-wrapper:before,
.raf-progress-wrapper:after {
	position: absolute;
	left: -100px;
	font-weight: bold;
}
.raf-progress-wrapper:before {
	content: attr(data-text-up);
	top: -40px;
}
.raf-progress-wrapper:after {
	content: attr(data-text-down);
	top: 20px;
}

.raf-progress .progress-bar {
	width: 15%;
	height: 7px;
	font-size: 12px;
	color: #fff;
	text-align: center;
	background-color: #3cbab3;
	box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
}

.work-sec .count-bar {
	width: 100%;
	position: relative;
	top: 40px;
}
.work-sec .count-bar ul {
	display: flex;
	justify-content: space-between;
	list-style-type: none;
}

.work-sec .count-bar span {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #fff;
	display: inline-block;
	position: relative;
	border: 2px solid #3cbab3;
	z-index: 999;
}
.work-sec .count-bar span:before {
	position: relative;
	top: -40px;
	left: -1px;
	right: 0;
	content: attr(data-text-up);
	font-size: 16px;
	line-height: 25px;
	color: #000;
	font-weight: 700;
}
.work-sec .count-bar span:after {
	position: absolute;
	top: 30px;
	left: -36px;
	right: 0;
	content: attr(data-text-down);
	width: 110px;
}

@media only screen and (max-width: 1400px) {
	.container {
		width: 100%;
	}
	.raf-progress {
		width: 1155px;
		left: 0px;
	}
	.raf-progress-wrapper:before,
	.raf-progress-wrapper:after {
		left: -40px;
		font-size: 14px;
	}
}
@media only screen and (max-width: 1200px) {
	.raf-progress {
		width: 970px;
		left: 0px;
	}
	.raf-progress .progress-bar {
		width: 10%;
	}
}
@media only screen and (max-width: 1100px) {
	.raf-progress {
		width: 960px;
	}
	.raf-progress .progress-bar {
		width: 10%;
	}
	.raf-progress-wrapper:before,
	.raf-progress-wrapper:after {
		left: -20px;
		font-size: 12px;
	}
	.work-sec .count-bar span:after {
		left: -40px;
		width: 90px;
		font-size: 14px;
	}
	.banner-sec .banner-right h2 {
		font-size: 30px;
		line-height: 37px;
	}
	.banner-sec .banner-right h3 {
		font-size: 30px;
		line-height: 37px;
	}
	.banner-sec .banner-left {
		background-position: 45% 100%;
	}
	.banner-sec .banner-left span:nth-of-type(2) {
		top: 6em;
		font-size: 55px;
		line-height: 65px;
	}
	.banner-sec .banner-left span:first-of-type {
		top: 5em;
		font-size: 55px;
		line-height: 65px;
	}
}
@media only screen and (max-width: 1024px) {
	.raf-progress {
		left: -20px;
	}
	.raf-progress-wrapper .progress-bar {
		width: 13%;
	}
}
@media only screen and (max-width: 992px) {
	.raf-progress {
		width: 750px;
	}
	.work-sec .count-bar span:after {
		top: -10px;
		left: 80px;
	}
	.work-sec .count-bar span:before {
		top: -5px;
		left: -80px;
	}
	.work-sec .count-bar span {
		margin: 40px 0;
	}
	.work-sec .count-bar ul {
		display: inline;
		justify-content: inherit;
		list-style-type: none;
	}
	.raf-progress .progress-bar {
		width: 15%;
	}
	.raf-progress-wrapper {
		position: absolute;
		width: 100%;
		transform: rotate(90deg);
		transform-origin: left;
		top: 0;
		left: 49%;
	}
	.raf-progress-wrapper:before,
	.raf-progress-wrapper:after {
		transform: rotate(270deg);
	}
	.raf-progress-wrapper:before {
		top: 80px;
	}
	.raf-progress-wrapper:after {
		top: -90px;
	}
}
@media only screen and (max-width: 768px) {
	.banner-sec {
		display: block;
	}
	.banner-sec .banner-left {
		padding: 25% 0;
	}
	.banner-sec .banner-left span:nth-of-type(2) {
		top: -1.4em;
		font-size: 55px;
		line-height: 65px;
	}
	.raf-progress-wrapper {
		left: 48.5%;
	}
	.banner-sec .banner-left span:first-of-type {
		top: -1em;
		font-size: 55px;
		line-height: 65px;
	}
}
/* @media only screen and (max-width: 767px) {
} */
@media only screen and (max-width: 580px) {
	.raf-progress-wrapper {
		left: 48.3%;
	}
	.raf-tooltip {
		width: 145px;
	}
}
@media only screen and (max-width: 480px) {
	/* .raf-progress-wrapper {
		bottom: 450px;
	} */
	.work-sec h2 {
		font-size: 30px;
		line-height: 38px;
	}
}
@media only screen and (max-width: 395px) {
	.raf-progress-wrapper {
		left: 47.4%;
	}
	.raf-tooltip {
		width: 124px;
	}
}
@media only screen and (max-width: 375px) {
	.raf-progress-wrapper {
		left: 47%;
	}
}
@media only screen and (max-width: 374px) {
	.raf-tooltip {
		display: none;
	}
}
